
{{!-- Listamos todos los usuarios para poder eliminarlos vemos con roles --}}

<div style="background-color: #2A363B; color: #FFFFFF; padding: 20px;">
    <h1>Usuarios</h1>
    <table class="table table-striped table-hover" style="color: #FFFFFF;">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {{#each users}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.role}}</td>
            <td>

            {{!-- Eliminamos con un método delete --}}
            <form action="/api/users/{{this.id}}" method="DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" style="background-color: #FF5733; color: #FFFFFF; padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer;">Eliminar</button>
            </form>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>

